@import './GlobalVariables.scss';

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background-color: var(--background-color);
}

.themeToggleButton {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.userManagement {
    width: 100%;
    max-width: 1200px;
    background-color: var(--background-color);
    box-shadow: var(--shadow);
    padding: 20px;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.addButton,
.settingsButton,
.aaaButton {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.addButton:hover,
.settingsButton:hover,
.aaaButton:hover {
    background-color: var(--button-hover-color);
}

.addButton:active,
.settingsButton:active,
.aaaButton:active {
    background-color: var(--button-active-color);
    transform: scale(0.95);
}

.tableContainer {
    overflow-x: auto;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--border-color);
}

.userTable th,
.userTable td {
    border: 1px solid var(--border-color);
    padding: 10px;
    text-align: left;
    max-width: 200px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
}

.deleteButton {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--delete-button-background-color);
    color: white;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: var(--delete-button-hover-color);
}

.deleteButton:active {
    transform: scale(0.95);
}

.icon {
    margin-right: 5px;
}