.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    box-shadow: var(--shadow);
}

.formGroup {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.formGroup label {
    flex: 0 0 200px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.formGroup input,
.formGroup textarea,
.formGroup select {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background: var(--input-background-color);
    color: var(--text-color);
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttonGroup .buttonLeft,
.buttonGroup .buttonRight {
    display: flex;
}

.buttonLeft {
    justify-content: flex-start;
}

.buttonRight {
    justify-content: flex-end;
}

.buttonGroup button {
    margin-left: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.buttonGroup .cancelButton {
    margin-left: 0px;
    background-color: var(--cancel-button-background-color);
}

.buttonGroup .cancelButton:hover {
    background-color: var(--cancel-button-hover-color);
}

.buttonGroup button:hover {
    background-color: var(--button-hover-color);
}

.buttonGroup button:active {
    transform: scale(0.95);
}

.icon {
    margin-right: 5px;
}